/* CSS declarations go here */

body {
    background-color: rgb(83, 87, 89);
    color: rgb(254, 119, 45);
}

.step {
    width: 5%;
    background-color: black;
    height: inherit;
    float: left;
    margin-left: 5px;
}

.channel {
    margin-top: 5px;
    height: 50px;
}