@import "/packages/bootstrap3-less/bootstrap.import.less";

/* CSS declarations go here */

/* Orange: #fe772d */

/*******************************************************************************
    General
*/

@corange: #fe772d;
@cgrey: #535759;

body {
    background-color: #535759;
    color: #fe772d;
}

.btn-warning {
    background-color: #fe772d;
    border-color: #fe772d;
}

/*******************************************************************************
    Room
*/

@height: 45px;
@barColor: #6b6d6e;

.fixed-wrap {
    height: @height + 10px + 25px;
    position: absolute;
    width: inherit;
}

.room-controls {
    background-color: @barColor;
    height: @height + 10px;
    width: 100%;

    #play, #clear {
        margin: 5px;
    }

    input {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #clear {
        float: right;
        height: @height;
    }

    #play {
        color: black;
        background-color: white;
        height: @height;
        width: @height;

        span {
            font-size: 20px;
        }
    }
}

.fixed {
    position: fixed;
    top: 0px;
    z-index: 5;

    .room-controls {
        background-color: fade(lighten(@barColor, 10%), 50%);
    }
}

/*******************************************************************************
    Channel(s)
*/

.channels {
    padding-top: 65px;
}

.channel {
    margin-top: 5px;
    height: 50px;
}

.channel-controls {
    width: 200px;
    background-color: black;
    float: left;
    height: inherit;
}

.channel .step-container {
    height: inherit;
    width: 900px;
    float: left;
}

.channel .step-container .step {
    width: 50px;
    height: inherit;
    float: left;
    margin-left: 5px;
}

.step:nth-of-type(16n+1),
.step:nth-of-type(16n+2),
.step:nth-of-type(16n+3),
.step:nth-of-type(16n+4) {
    background-color: #5a84e5;
}

.step:nth-of-type(16n+5),
.step:nth-of-type(16n+6),
.step:nth-of-type(16n+7),
.step:nth-of-type(16n+8) {
    background-color: #83a8ff;
}

.step:nth-of-type(16n+9),
.step:nth-of-type(16n+10),
.step:nth-of-type(16n+11),
.step:nth-of-type(16n+12) {
    background-color: #c1d3ff;
}

.step:nth-of-type(16n+13),
.step:nth-of-type(16n+14),
.step:nth-of-type(16n+15),
.step:nth-of-type(16n+16) {
    background-color: #eff4ff;
}

.active {
    opacity: 1;
}

.inactive {
    opacity: .5;
}

.container {
    margin-bottom: 50px;
}