/* CSS declarations go here */

body {
    background-color: rgb(83, 87, 89);
    color: rgb(254, 119, 45);
}

.channel {
    margin-top: 5px;
    height: 50px;
}

.channel > .controls {
    width: 200px;
    background-color: black;
    float: left;
    height: inherit;
}

.channel > .step-container {
    height: inherit;
    width: 900px;
    float: left;
}

.channel > .step-container > .step {
    width: 5%;
    height: inherit;
    float: left;
    margin-left: 5px;
}

.active {
    background-color: white;
}

.inactive {
    background-color: black;
}